@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/site.css">

<div class="container mt-5">
    <h1 class="text-center mb-4">Formulario de Contacto</h1>
    <p class="text-center mb-4">Checar respuesta del API en consola</p>

    <div class="d-flex justify-content-between">
        <div class="w-50">
            <form id="contactForm" method="post" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label for="name" class="form-label">Nombre*</label>
                    <input type="text" class="form-control" id="name" name="Name" required>
                    <div class="invalid-feedback">Este campo es obligatorio.</div>
                </div>

                <div class="mb-3">
                    <label for="surname" class="form-label">Apellido*</label>
                    <input type="text" class="form-control" id="surname" name="Surname" required>
                    <div class="invalid-feedback">Este campo es obligatorio.</div>
                </div>

                <div class="mb-3">
                    <label for="email">Correo electrónico *</label>
                    <input type="email" id="email" name="email" class="form-control" placeholder="correo@ejemplo"
                    pattern="[a-zA-Z0-9._%+-]+@@[a-zA-Z0-9.-]+(\.[a-zA-Z]{2,})?"  required />
                    <div class="invalid-feedback">Por favor, introduce un correo válido.</div>
                </div>

                <div class="mb-3">
                    <label for="phone">Teléfono</label>
                    <input type="tel" id="phone" name="phone" pattern="[0-9]{8}" class="form-control" placeholder="(8 dígitos)" required/>
                    <div class="invalid-feedback">Introduce un número de teléfono válido (8 dígitos).</div>
                </div>

                <div class="mb-3">
                    <label for="address" class="form-label">Dirección</label>
                    <input type="text" class="form-control" id="address" name="Address" required>
                </div>

                <div class="mb-3">
                    <label for="postalCode" class="form-label">Código postal*</label>
                    <input type="text" class="form-control" pattern="[0-9]{5}" placeholder="(5 dígitos)" id="postalCode" name="PostalCode" minlength="5" maxlength="5" required>
                    <div class="invalid-feedback">Introduce un código postal válido.</div>
                </div>

                <div class="mb-3">
                    <label for="country" class="form-label">País*</label>
                    <select class="form-select" id="country" name="Country" required>
                        <option value="">Selecciona un país</option>
                        <option value="México">México</option>
                        <option value="Estados Unidos">Estados Unidos</option>
                        <option value="Canadá">Canadá</option>
                        <option value="España">España</option>
                        <option value="Guatemala">Guatemala</option>
                    </select>
                    <div class="invalid-feedback">Selecciona un país.</div>
                </div>

                <div class="mb-3">
                    <label for="message" class="form-label">Mensaje*</label>
                    <textarea class="form-control" id="message" name="Message" rows="4" required></textarea>
                    <div class="invalid-feedback">Este campo es obligatorio.</div>
                </div>
                
                <button type="submit" class="btn btn-primary w-100">Enviar</button>
            </form>
        </div>

        
        <div class="w-50 json-section">
            <h1 class="text-center mb-4">JSON</h1>
            <div id="jsonOutput" class="mt-4">
                <!-- Aquí se mostrará el JSON generado -->
            </div>
        </div>
    </div>
</div>

<script src="./js/validation.js"></script>
